<nav>
    <!-- <div class="home">
        <a href="{{ url_for('.dash') }}">Test Title</a>
    </div> -->
    <nav class="u-pull-right">
        <!-- EACH WITH IT'S OWN DROP DOWN TO LIST MAIN ACTIONS -->
        <div>
            <li style="list-style: none;">
                <a href="{{ url_for('.dash') }}">Dashboard</a>
            </li>
            <div class="dropdown">
                <a class="dropbtn">Staff &#8675;</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('.all_staff') }}">All Staff</a></li>
                    <li><a href="{{ url_for('.register_staff') }}">Register Staff</a></li>
                </ul>
            </div>
            <li style="list-style: none;">
                <a href="{{ url_for('.residents') }}">Residents</a>
            </li>
            <div class="dropdown">
                <a class="dropbtn">Flat Types &#8675;</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('.flats') }}">All Flat Types</a></li>
                    <li><a href="{{ url_for('.create_flat') }}">Create Flat Type</a></li>
                </ul>
            </div>
            <li style="list-style: none;">
                <a href="{{ url_for('.logout') }}">Logout</a>
            </li>
        </div>
    </nav>
</nav>