<nav>
    <div class="u-pull-left">
        <a href="{{ url_for('admin.dash') }}"></a>
    </div>
    <div class="u-pull-right">
        <li style="list-style: none;">
            <a href="{{ url_for('admin.dash') }}">Dashboard</a>
        </li>
        <li class="dropdown">
            <a class="dropbtn">Staff &downarrow;</a>
            <ul class="dropdown-content">
                <li><a href="{{ url_for('.all_staff') }}">All Staff</a></li>
                <li><a href="{{ url_for('.register_staff') }}">Register Staff</a></li>
            </ul>
        </li>
        <li style="list-style: none;">
            <a href="{{ url_for('admin.payments') }}">Payment History</a>
        </li>
        <li style="list-style: none;">
            <a href="{{ url_for('admin.logout') }}">Logout</a>
        </li>
    </div>
</nav>