<!-- Footer -->
<div class="footer">

  <div class="container">

    <!-- Social media buttons -->
    <ul class="">
      <li class="">
        <a class="fab fa-facebook fa-lg mx-1" href="https://www.facebook.com/">Facebook</a>
      </li>
      <li class="">
        <a class="fab fa-twitter fa-lg mx-1" href="https://twitter.com/">Twitter</a>
      </li>
      <li class="">
        <a class="fab fa-linkedin-in fa-lg mx-1" href="https://www.linkedin.com/">LinkedIn</a>
      </li>
    </ul>


  </div>

  <!-- Copyright -->
  <div class="footer-copyright">© 2020 Copyright: Scuttle Estates</div>
</div>