<nav>
    <div class="u-pull-left">
        <a href="{{ url_for('main.index') }}"><img class="nav-icon" src="{{ url_for('static', filename='img/logo.png') }}"></a>
    </div>
    <div class="u-pull-right">
        <div>
            <li style="list-style: none;">
                <a href="{{ url_for('main.index') }}">Home</a>
            </li>
            {% if current_user.is_authenticated %}
            <li style="list-style: none;">
                <a href="{{ url_for('main.profile') }}">Profile</a>
            </li>
            <li style="list-style: none;">
                <a href="{{ url_for('main.logout') }}">Logout</a>
            </li>
            {% else %}
            <li style="list-style: none;">
                <a href="{{ url_for('main.flats') }}">Flats</a>
            </li>
            <li style="list-style: none;">
                <a href="{{ url_for('main.login') }}">Login</a>
            </li>
            {% endif %}
        </div>
    </div>
</nav>