{% extends "shared/base.html" %}

{% block title %}Terms & Cons{% endblock %}

{% block content %}

<div id="main">
    <!-- MAIN CONTENT -->
    <div class="lease-title">
        <h2>TERMS AND CONDITIONS</h2>
    </div>

    <hr>

    <p>This Lease Agreement (the "Agreement") is entered into between the Buyer (the "Flat Owner") and the Government (LSDPC) on [DATE].</p>

    <ol style="list-style: number;">
        <li>Property: The Owner agrees to buy from the Government, and the Government agrees to sell to the Owner, the following property:
            <ul>
                <li> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Condition: The property is provided in its current condition unless otherwise specified in writing.</li>
            </ul>
        </li>
        <li>Purchase Term: The purchase term will be take effect on [DATE].</li>
        <li>Purchase Payment: The Owner agrees to pay the amount of [PURCHASE AMOUNT], payable [MONTHLY/QUARTERLY], on or before the [DUE DATE], to the Government or as otherwise instructed.</li>
        <li>Security Deposit: The Owner will provide a security deposit of [SECURITY DEPOSIT AMOUNT] to the Government upon signing this Agreement. The deposit will be held as security for any damages, unpaid rent, or other obligations as outlined in this Agreement.</li>
        <li>Maintenance and Repairs: The Owner agrees to maintain the property in good condition, and to promptly report any damages or necessary repairs to the Management. The Management will be responsible for major repairs and structural issues.</li>
        <li>Termination: Either party may terminate this Agreement with written notice of [NOTICE PERIOD] days prior to the desired termination date.</li>
        <li>Entire Agreement: This Agreement constitutes the entire agreement between the parties and supersedes any prior understandings or agreements, whether oral or written.</li>
        <li>Severability: If any provision of this Agreement is held invalid or unenforceable, the remaining provisions shall remain in full force and effect.</li>
    </ol>

    <hr>

    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        The party (Owner) acknowledges and agrees to the terms of this Purchase Agreement:
        <div class="u-pull-right">
            <label for="">
                <input type="checkbox" name="agree" required>
                <span>Owner</span>
            </label>
            <input type="submit" class="button-primary" value="AGREE TO TERMS & CONDITIONS">
        </div>
    </form>
</div>

{% endblock %}