{% extends "shared/base.html" %}

{% block title %}Flats on Sale{% endblock %}

{% block content %}

<div id="main">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <h2>Flats on Sale</h2>

    <table class="u-full-width staff">
        <thead>
            <tr>
                <th>Block</th>
                <th>Flat</th>
                <th>Owner (Email)</th>
                <th>Sale Cost</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for flat in flats %}
            {% 
                if flat.for_sale and flat not in current_user.flats.all() and not flat.get_tenant()
            %}
            <tr>
                <td>{{ flat.block }}</td>
                <td>{{ flat.number }}</td>
                <td>{{ flat.get_owner().email or 'LSDPC' }}</td>
                <td>{{ '₦ {:,}'.format(flat.cost) }}</td>
                <td><a class="button button-primary" href="{{ url_for('.agreement', id=flat.id) }}">buy</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}