{% extends "shared/base.html" %}

{% block title %}Modify Flat{% endblock %}

{% block content %}

<div id="main">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <div class="header">
        <h1>Modify Flat</h1>
    </div>

    <div class="content">
        <form method="POST" class="pure-form pure-form-stacked">
            <fieldset>

            </fieldset>
            {{ form.hidden_tag() }}
    
            <div class="pure-controls">
                <label>
                    <span>For Rent</span>
                    {{ form.for_rent() }}
                </label>
                {{ form.rent.label}}
                {{ form.rent(class='pure-u-3-8')}}
            </div>
            <div class="pure-controls">
                <label>
                    <span>For Sale</span>
                    {{ form.for_sale() }}
                </label>
                {{ form.cost.label }}
                {{ form.cost(class='pure-u-3-8') }}
            </div>
            <!-- <div class="pure-control-group">
                {{ form.description.label }}
                {{ form.description(class='pure-u-23-24') }}
            </div> -->
            <div class="pure-controls">
                {{ form.save(class='general submit pure-button pure-button-primary') }}
            </div>
        </form>
    </div>
</div>

{% endblock %}