{% extends "shared/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="container">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <!-- MAIN CONTENT -->
    <!-- ONLY ALLOW AUTHENTICATED USERS -->
    {% if current_user.is_authenticated %}
    <h2>Owner Profile</h2> <hr>

    <div class="row">
        <div class="two columns">
            <img src="{{ url_for('static', filename='img/profile-image.jpg') }}" class="u-max-full-width">
        </div>
        <div class="four columns">
            <h5>Personal Info</h5>
            <ul>
                <li>
                    {{ current_user.first_name }} {{ current_user.middle_name }} {{ current_user.last_name }}
                </li>
                <li>{{ current_user.username }}</li>
            </ul>
            
            
        </div>
        <div class="six columns">
            <h5>Contact Info</h5>
            <ul>
                <li>{{ current_user.number }}</li>
                <li>{{ current_user.email }}</li>
            </ul>
        </div>
    </div>

    <a class="button button-primary" href="{{ url_for('auth.edit_profile', id=current_user.id) }}">Edit Profile</a>

    <hr>

    <div class="row">
        <div class="twelve columns">
            <h5>Flat(s) Owned</h5>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Block</th>
                        <th>Flat</th>
                        <th>Rent Cost</th>
                        <th>Sale Cost</th>
                        <th>Current Tenant</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for flat in current_user.flats.all() %}
                    <tr>
                        <td>{{ flat.block }}</td>
                        <td>{{ flat.number }}</td>
                        <td>
                            {% if flat.for_rent %}
                            {{ '₦ {:,}'.format(flat.rent) }}
                            {% else %}
                            ❌
                            {% endif %}
                        </td>
                        <td>
                            {% if flat.for_sale %}
                            {{ '₦ {:,}'.format(flat.cost) }}
                            {% else %}
                            ❌
                            {% endif %}
                        </td>
                        <td>
                            {{ flat.users.filter_by(role='TENANT').first().email or None}}
                        </td>
                        <td><a class="" href="{{ url_for('.modify_flat', id=flat.id) }}">Manage</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div class="row">
        <!-- show button to get the lease if none -->
        <a class="button button-primary" href="{{ url_for('.flats_on_sale') }}">Buy New Flat</a>
    </div>
    <hr>

    {% endif %}
</div>

{% endblock %}