{% extends "base.html" %}

{% block title %}All Staff{% endblock %}

{% block content %}

<header>
    {% include 'partials/admin_nav.html' %}
</header>

<div class="container">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <div class="search-div">
        <input type="text" onkeyup="search()" placeholder="Search for staff by name" id="searchBtn">
    </div>

    <table class="u-full-width staff">
        <caption>All Staff Members</caption>
        <thead>
            <tr>
                <th>Staff ID</th>
                <th>Role</th>
                <th>Name</th>
                <th>Is Active</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for st in staff %}
            <tr class="{{st.first_name}}{{st.last_name}}{{st.middle_name}}">
                <td>{{ st.user_tag }}</td>
                <td>{{ st.role }}</td>
                <td>{{ st.first_name }} {{ st.middle_name }} {{ st.last_name }}</td>
                {% if st.is_active %}
                <td>✔</td>
                {% else %}
                <td>❌</td>
                {% endif %}
                <td><a href="{{ url_for('.edit_staff', id=st.id) }}" class="button button-primary">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}