{% extends "shared/base.html" %}

{% block title %}All Staff{% endblock %}

{% block content %}

<div id="main">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <div class="header">
        <h1>All Staff Members</h1>
    </div>

    <div class="content">
        <form action="" class="pure-form pure-form-stacked">
            <div class="pure-controls">
                <input type="text" onkeyup="search()" placeholder="Search by name" id="searchBtn">
            </div>
        </form>

        <table class="pure-table pure-table-horizontal mg-top-20">
            <thead>
                <tr>
                    <th>Staff ID</th>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Is Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for st in staff %}
                <tr class="{{st.first_name}}{{st.last_name}}{{st.middle_name}}">
                    <td>{{ st.username }}</td>
                    <td>{{ st.role }}</td>
                    <td>{{ st.first_name }} {{ st.middle_name }} {{ st.last_name }}</td>
                    {% if st.is_active %}
                    <td>✔</td>
                    {% else %}
                    <td>❌</td>
                    {% endif %}
                    <td><a href="{{ url_for('.edit_staff', id=st.id) }}" class="general pure-button pure-button-primary">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}