{% extends "base.html" %}

<header>
    {% include 'partials/admin_nav.html' %}
</header>

{% block content %}

<div class="container">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <!-- MAIN CONTENT -->
    <h3>Admin Dashboard</h3>
    <div class="row">
        <div class="six columns">
            <!-- List of all active agents -->
            <table class="u-full-width">
                <caption>Active Agents</caption>
                <thead>
                    <tr>
                        <th>Staff ID</th>
                        <th>Role</th>
                        <th>Name</th>
                        <th>Is Active</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agent in agents %}
                    {% if agent.is_active %}
                    <tr>
                        <td>{{ agent.user_tag }}</td>
                        <td>{{ agent.role.name }}</td>
                        <td>{{ agent.fullname }}</td>
                        <td><input type="checkbox" checked disabled></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="u-pull-right">
                <a href="{{ url_for('.all_staff') }}">View all staff...</a>
            </div>
        </div>
        <div class="six columns">
            <div class="stats">
                <span>Platform Statistics</span>
                <h5>Total staff: {{ total_staff }}</h5>
                <h6>Agents: {{ agents.count() }}</h6>
                <h6>Cleaners: {{ cleaners }}</h6>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}