{% extends "base.html" %}

{% block content %}

<header>
    {% include 'partials/admin_nav.html' %}
</header>

<div class="container">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <!-- MAIN CONTENT -->
    <h3>Admin Dashboard</h3>
    <div class="row">
        <div class="six columns">
            <!-- List of all active agents -->
            <table class="u-full-width shadow-div">
                <!-- <span>Active Agents</span> -->
                <thead>
                    <tr>
                        <th>Staff ID</th>
                        <th>Name</th>
                        <th>Is Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="six columns">
            <div class="stats shadow-div">
                <span>Estate Statistics</span>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}