{% extends "shared/base.html" %}

{% block title %}Edit Flat{% endblock %}

{% block content %}

<div class="container">
    <!-- MAIN CONTENT -->
    <h2>Edit Flat</h2>
    <hr>

    <form method="POST">
        {{ form.hidden_tag() }}
        <!-- {{ form.csrf_token }} -->

       <!-- FLASH MESSAGES -->
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="flash">
            <span class="{{ category }}">{{ msg }}</span>
        </div>
        {% endfor %}

        <div class="row">
            <div class="five columns">
                {{ form.name.label }}
                {{ form.name(class='u-full-width') }}
            </div>
            <div class="five columns">
                {{ form.rent.label }}
                {{ form.rent(class='u-full-width') }}
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                {{ form.description.label }}
                {{ form.description(class='u-full-width') }}
            </div>
        </div>
        <div class="row">
            <div class="four columns">
                {{ form.bedrooms.label }}
                {{ form.bedrooms(class='u-full-width') }}
            </div>
            <div class="four columns">
                {{ form.bathrooms.label }}
                {{ form.bathrooms(class='u-full-width') }}
            </div>
            <div class="four columns">
                {{ form.num_available.label }}
                {{ form.num_available(class='u-full-width') }}
            </div>
        </div>
        <div class="row">
            <label for="">
                {{ form.is_available() }}
                <span>Is Available</span>
            </label>
            {{ form.save(class='button-primary') }}
        </div>
    </form>
</div>

{% endblock %}