{% extends "shared/base.html" %}

{% block title %}Edit Staff{% endblock %}

{% block content %}

<div class="container">
    <!-- MAIN CONTENT -->
    <h2>Edit Staff</h2>
    <hr>

    <form method="POST">
        {{ form.hidden_tag() }}

        <!-- FLASH MESSAGES -->
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="pop-flash">
            <span class="{{ category }}">{{ msg }}</span>
        </div>
        {% endfor %}

        <div class="row">
            <div class="four columns">
                {{ form.first_name.label }}
                {{ form.first_name(class='u-full-width') }}
            </div>
            <div class="four columns">
                {{ form.middle_name.label }}
                {{ form.middle_name(class='u-full-width') }}
            </div>
            <div class="four columns">
                {{ form.last_name.label }}
                {{ form.last_name(class='u-full-width') }}
            </div>
        </div>
        <div class="row">
            <div class="three columns">
                {{ form.email.label }}
                {{ form.email(class='u-full-width') }}
            </div>
            <div class="three columns">
                {{ form.username.label }}
                {{ form.username(class='u-full-width') }}
            </div>
            <div class="three columns">
                {{ form.number.label }}
                {{ form.number(class='u-full-width') }}
            </div>
            <div class="three columns">
                {{ form.role.label }}
                {{ form.role(class='u-full-width') }}
            </div>
        </div>
        <div class="row">
            <div class="five columns">
                <label>
                    <span>Active</span>
                    {{ form.is_active() }}
                </label>
            </div>
            <div class="five columns">
                {{ form.save(class='button-primary') }}
            </div>
        </div>
    </form>
</div>

{% endblock %}