{% extends "base.html" %}

{% block title %}Register Staff{% endblock %}

{% block content %}

<header>
    {% include 'partials/admin_nav.html' %}
</header>

<div class="container">
    <!-- MAIN CONTENT -->
    <h2>Register Staff</h2>
    <hr>

    <form method="POST">
        {{ form.hidden_tag() }}
        <!-- {{ form.csrf_token }} -->

       <!-- FLASH MESSAGES -->
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="flash">
            <span class="{{ category }}">{{ msg }}</span>
        </div>
        {% endfor %}

        {% if form.form_errors %}
        {% for error in form.form_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        {% endif %}

        <div class="row">
            <div class="five columns">
                {{ form.fullname.label }}
                {{ form.fullname() }}
            </div>
            <div class="five columns">
                {{ form.email.label }}
                {{ form.email() }}
            </div>
        </div>
        <div class="row">
            <div class="five columns">
                {{ form.number.label }}
                {{ form.number() }}
            </div>
            <div class="five columns">
                {{ form.role.label }}
                {{ form.role() }}
            </div>
        </div>
        <div class="row">
            <div class="five columns">
                <label for="">
                    {{ form.is_active() }}
                    <span>Active</span>
                </label>
            </div>
            <div class="five columns">
                {{ form.save(class='button-primary') }}
            </div>
        </div>
    </form>
</div>

{% endblock %}