{% extends "shared/base.html" %}

{% block title %}Flats{% endblock %}

{% block content %}

<div id="main">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <h2>Estate Flats</h2>

    <table class="u-full-width staff">
        <thead>
            <tr>
                <th>Block</th>
                <th>Flat</th>
                <th>Owner (email)</th>
                <th>Tenant (email)</th>
            </tr>
        </thead>
        <tbody>
            {% for flat in flats %}
            <tr>
                <td>{{ flat.block }}</td>
                <td>{{ flat.number }}</td>
                <td>{{ flat.get_owner().email or None }}</td>
                <td>{{ flat.get_tenant().email or None }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}