{% extends "base.html" %}

{% block content %}

<header>
    {% include 'partials/admin_nav.html' %}
</header>

<div class="container">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <div class="search-div">
        <input type="text" onkeyup="search()" placeholder="Search for flat by name" id="searchBtn">
    </div>

    <table class="u-full-width flat">
        <caption>All Flats</caption>
        <thead>
            <tr>
                <th>Flat ID</th>
                <th>Name</th>
                <th>Rent Amount</th>
                <th>Available</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for flat in flats %}
            <tr class="{{ flat.name }}">
                <td>{{ flat.id }}</td>
                <td>{{ flat.name }}</td>
                <td>{{ '₦{:,}'.format(flat.rent) }}</td>
                <td>{{ flat.num_available }}</td>
                <td><a href="{{ url_for('.edit_flat', id=flat.id) }}" class="button button-primary">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- <div class="paginate">
        {% if flats.has_prev %}
        <a href="{{ url_for('.all_flat', page=flats.prev_num) }}">Prev</a>
        {% else %} # {% endif %}
        |
        {% if flats.has_next %}
        <a href="{{ url_for('.all_flat', page=flats.next_num) }}">Next</a>
        {% else %} # {% endif %}
    </div>       -->
</div>

{% endblock %}