{% extends "shared/base.html" %}

{% block title %}Owners{% endblock %}

{% block content %}

<div class="container">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <div class="search-div">
        <input type="text" onkeyup="search()" placeholder="Search for tenant by name" id="searchBtn">
    </div>

    <table class="u-full-width staff">
        <caption>Flat Owners</caption>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Flats Owned</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for t in owners %}
            <tr class="{{t.username}}">
                <td>{{ t.username }}</td>
                <td>{{ t.email }}</td>
                <!-- using select tag because I can -->
                <td>
                    {% if t.flats.all() != [] %}
                    {% for flat in t.flats.all() %}
                        <li>Block {{ flat.block }}, Flat {{ flat.number }}</li>
                    {% endfor %}
                    {% else %}
                    NO FLATS OWNED
                    {% endif %}
                </td>
                <td><a href="#" class="button button-primary">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}