{% extends "base.html" %}

{% block title %}Residents{% endblock %}

{% block content %}

<header>
    {% include 'partials/admin_nav.html' %}
</header>

<div class="container">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <div class="search-div">
        <input type="text" onkeyup="search()" placeholder="Search for resident by name" id="searchBtn">
    </div>

    <table class="u-full-width staff">
        <caption>All Estate Residents</caption>
        <thead>
            <tr>
                <th>Resident ID</th>
                <th>Name</th>
                <th>Flat</th>
                <th>Block</th>
                <th>Joined Since</th>
                <th>Email</th>
                <th>Number</th>
                <!-- <th></th> -->
            </tr>
        </thead>
        <tbody>
            {% for r in res %}
            <tr class="{{ r.fullname }}">
                <td>{{ r.user_tag }}</td>
                <td>{{ r.fullname }}</td>
                <td>12</td>
                <td>H</td>
                <td>{{ r.joined_date }}</td>
                <td>{{ r.email }}</td>
                <td>{{ r.number }}</td>
                {#
                <td>
                    <a href="{{ url_for('.payments', id=r.id) }}" class="button">Payments</a>
                </td>
                #}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {#
    <div class="paginate">
        {% if staffs.has_prev %}
        <a href="{{ url_for('.all_staff', page=staffs.prev_num) }}">Prev</a>
        {% else %} # {% endif %}
        |
        {% if staffs.has_next %}
        <a href="{{ url_for('.all_staff', page=staffs.next_num) }}">Next</a>
        {% else %} # {% endif %}
    </div>      
    #}
</div>

{% endblock %}