{% extends "shared/base.html" %}

{% block title %}Tenants{% endblock %}

{% block content %}

<div class="container">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <div class="search-div">
        <input type="text" onkeyup="search()" placeholder="Search for tenant by name" id="searchBtn">
    </div>

    <table class="u-full-width staff">
        <caption>Estate Tenants</caption>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Flats Rented</th>
                <th>Years Overdue</th>
            </tr>
        </thead>
        <tbody>
            {% for t in tenants %}
            <tr class="{{t.username}}">
                <td>{{ t.username }}</td>
                <td>{{ t.email }}</td>
                <!-- print separated in case of multiple or use select -->
                <td>
                    {% if t.flats.all() != [] %}
                    {% for flat in t.flats.all() %}
                        <li>Block {{ flat.block }}, Flat {{ flat.number }}</li>
                    {% endfor %}
                    {% else %}
                    NO FLATS RENTED
                    {% endif %}
                </td>
                <td>
                    {% if t.flats.all() != [] %}
                    {% for f in t.flats.all() %}
                        {% if year > f.lease_expiry.year %}
                        <li>{{ year - f.lease_expiry.year }}</li>
                        {% else %}
                        <li>0</li>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}