/* 
MY CUSTOM CSS FILES FOR FLASK FEATURES AND PERSONAL ADDITIONS
-------------------------------------------------------------------------------*/



/* Flash message categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.info { color: blue;  }

.error { color: rgb(255, 30, 30); }

.success { color: rgb(0, 148, 0); }

.misc { color: rgb(255, 94, 0); }

.warning { color: rgb(255, 94, 0); }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 20px;
}

h3 {
    text-align: center;
}

.stats {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.shadow-div {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
}

.home-cards {
    background-color: rgb(149, 186, 255);
}

.banner {
    background-image: url(../img/background.jpg);
    background-size: cover;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    text-decoration: solid;
    margin: 30px 0 30px 0;
    padding: 5%;
    position: relative;
}

.banner-img {
    width: 70%;
}

.random-stuff {
    margin: 30px 0 30px 0;
    padding: 5%;
    background-color: rgb(68, 68, 68);
    color: white;
}

.search-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}




/* Nav bar
-------------------------------------------------- */
nav {
    background-color: rgb(104, 104, 104);
    overflow: hidden;
}

nav div {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav div li { float: left; }

nav div li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* home button */
.home {
    padding: 14px 16px;
    float: left;
}

.home a {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

.nav-icon {
    width: 7%;
}

/* drop down */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(104, 104, 104);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    float: none;
    color: white;
    text-align: left;
    display: block;
    padding: 0px 5px;
    margin: 0;
}

.dropdown:hover .dropdown-content { display: block; }

.dropbtn:hover { color: blue; }



/* Flats and Lease Pages
-------------------------------------------------- */
.flat-col {
    margin: 5% 0 0 0;
    padding: 3%;
    background-color: rgb(240, 255, 255);
}

.flat-banner {}

.flat-desc {}

.rent-box {}

.lease-title { text-align: center; }

.flat-img {
    width: 100%;
}

a.cst-btn {
    background-color: rgb(68, 68, 68);
    border-color: rgb(68, 68, 68);
    color: rgb(240, 255, 255);
}