{% if current_user.is_authenticated %}
    <!-- create three navs; ADMIN, OWNER, TENANT -->
    {% if current_user.role == 'ADMIN' %}
    <!-- ADMIN NAV BAR -->
    <nav>
        <div class="u-pull-left">
            <a href="{{ url_for('admin.index') }}"></a>
        </div>
        <div class="u-pull-right">
            <li style="list-style: none;">
                <a href="{{ url_for('admin.index') }}">Dashboard</a>
            </li>
            <li class="dropdown">
                <a class="dropbtn">Staff &downarrow;</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('admin.all_staff') }}">All Staff</a></li>
                    <li><a href="{{ url_for('admin.register_staff') }}">Register Staff</a></li>
                </ul>
            </li> 
            <li class="dropdown">
                <a class="dropbtn">Users &downarrow;</a>
                <ul class="dropdown-content">
                    <li><a href="{{ url_for('admin.owners') }}">Owners</a></li>
                    <li><a href="{{ url_for('admin.tenants') }}">Tenants</a></li>
                    <li><a href="{{ url_for('admin.create_user') }}">Create User</a></li>
                </ul>
            </li>
            <!-- <li style="list-style: none;">
                <a href="{{ url_for('admin.payments') }}">Payment History</a>
            </li> -->
            <li style="list-style: none;">
                <a href="{{ url_for('admin.flats') }}">Estate Flats</a>
            </li>
            <li style="list-style: none;">
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
        </div>
    </nav>

    {% elif current_user.role == 'TENANT' %} 
    <!-- TENANT NAV BAR -->
    <nav>
        <div class="u-pull-left">
            <a href="{{ url_for('tenant.index') }}"><img class="nav-icon" src="{{ url_for('static', filename='img/logo.png') }}"></a>
        </div>
        <div class="u-pull-right">
            <div>
                <li style="list-style: none;">
                    <a href="{{ url_for('tenant.index') }}">Profile</a>
                </li>
                <li style="list-style: none;">
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            </div>
        </div>
    </nav>

    {% elif current_user.role == 'OWNER' %}
    <!-- OWNER NAV BAR -->
    <nav>
        <div class="u-pull-left">
            <a href="{{ url_for('owner.index') }}"><img class="nav-icon" src="{{ url_for('static', filename='img/logo.png') }}"></a>
        </div>
        <div class="u-pull-right">
            <div>
                <li style="list-style: none;">
                    <a href="{{ url_for('owner.index') }}">Profile</a>
                </li>
                <li style="list-style: none;">
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            </div>
        </div>
    </nav>

    {% endif %}
{% endif %}