{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">
    <h2>Login</h2>
    <hr>

    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

       <!-- FLASH MESSAGES -->
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="flash">
            <span class="{{ category }}">{{ msg }}</span>
        </div>
        {% endfor %}

        <div class="row">
            <div class="column">
                <label for="">User ID</label>
                <input type="text" name="user_id" required placeholder="User ID">
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="">Password</label>
                <input type="password" name="password" required placeholder="Password">
            </div>
        </div>
        <input type="submit" value="Login">
    </form>
</div>

{% endblock %}