{% extends "base.html" %}

{% block title %}Lease Agreement{% endblock %}

{% block content %}

<div class="container">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <!-- MAIN CONTENT -->
    <div class="lease-title">
        <h2>LEASE AGREEMENT</h2>
    </div>

    <hr>

    <h5>Flat A, Block B</h5>

    <p>This Lease Agreement (the "Agreement") is entered into between the Lessor (the "Estate Management") and the Lessee (the "Tenant") on [DATE].</p>

    <ol style="list-style: number;">
        <li>Property: The Estate agrees to lease to the Tenant, and the Tenant agrees to rent from the Estate, the following property:
            <ul>
                <li> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Condition: The property is provided in its current condition unless otherwise specified in writing.</li>
            </ul>
        </li>
        <li>Lease Term: The lease term will be for [TERM] starting on [START DATE] and ending on [END DATE].</li>
        <li>Rent Payment: The Tenant agrees to pay rent in the amount of [RENT AMOUNT], payable [MONTHLY/QUARTERLY], on or before the [DUE DATE], to the Estate or as otherwise instructed.</li>
        <li>Security Deposit: The Tenant will provide a security deposit of [SECURITY DEPOSIT AMOUNT] to the Estate upon signing this Agreement. The deposit will be held as security for any damages, unpaid rent, or other obligations as outlined in this Agreement.</li>
        <li>Maintenance and Repairs: The Tenant agrees to maintain the property in good condition, and to promptly report any damages or necessary repairs to the Estate. The Estate will be responsible for major repairs and structural issues.</li>
        <li>Termination: Either party may terminate this Agreement with written notice of [NOTICE PERIOD] days prior to the desired termination date.</li>
        <li>Entire Agreement: This Agreement constitutes the entire agreement between the parties and supersedes any prior understandings or agreements, whether oral or written.</li>
        <li>Severability: If any provision of this Agreement is held invalid or unenforceable, the remaining provisions shall remain in full force and effect.</li>
    </ol>

    <hr>

    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        Both parties acknowledge and agree to the terms of this Lease Agreement:
        <div class="row u-pull-right">
            <div class="twelve columns">
                Tenant:
                <input type="checkbox" name="" required id="">
            </div>
            <input type="submit" class="button-primary" value="PROCEED TO PAYMENT">
        </div>
    </form>
</div>

{% endblock %}