{% extends "base.html" %}

{% block title %}User Login{% endblock %}

{% block content %}

<div class="container">
    <h2>Login</h2>
    <hr>

    <form method="post">
       {{ form.hidden_tag() }}

       <!-- FLASH MESSAGES -->
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="flash">
            <span class="{{ category }}">{{ msg }}</span>
        </div>
        {% endfor %}

        <div class="row">
            <div class="column">
                {{ form.user_tag() }}
            </div>
        </div>
        <div class="row">
            <div class="column">
                {{ form.password() }}
            </div>
        </div>
        {{ form.login(class='button-primary') }}
    </form>
</div>

{% endblock %}