{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}

<div class="container">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <!-- MAIN CONTENT -->
    <h2>Resident Registration</h2>
    <hr>

    <form method="POST">
        {{ form.hidden_tag() }}

       <!-- FLASH MESSAGES -->
        {% for category, msg in get_flashed_messages(with_categories=True) %}
        <div class="flash">
            <span class="{{ category }}">{{ msg }}</span>
        </div>
        {% endfor %}

        <div class="row">
            <div class="ten columns">
                {{ form.fullname(class='u-full-width') }}
            </div>
        </div>
        <div class="row">
            <div class="five columns">
                {{ form.number(class='u-full-width') }}
            </div>
            <div class="five columns">
                {{ form.email(class='u-full-width') }}
            </div>
        </div>
        <div class="row">
            <div class="five columns">
                {{ form.password(class='u-full-width') }}
            </div>
            <div class="five columns">
                {{ form.password2(class='u-full-width') }}
            </div>
        </div>
        <div class="row">
            <div class="ten columns">
                {{ form.register(class='button-primary') }}
                <input type="reset" value="Clear Form">
            </div>
        </div>
    </form>
</div>

{% endblock %}