{% extends "shared/base.html" %}

{% block title %}Flats for Rent{% endblock %}

{% block content %}

<div id="main">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <div class="header">
        <h1>Flats for Rent</h1>
        <h2>Secure a new lease</h2>
    </div>

    <div class="content">
        <div class="pure-g">
            {% if flats != [] %}

            {% for flat in flats %}
            <!-- one column for small screen, 2 columns for large and above -->
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 flat-listing">
                <h2 class="content-subhead">Block {{ flat.block }}, Flat {{ flat.number }}</h2>
                <p>Owner - {{ flat.get_owner().email or None }}</p>
                <p>Rent Amount - {{ '₦ {:,}'.format(flat.rent) }}</p>
    
                {% if flat.get_tenant() %}
                <button disabled class="general pure-button">OCCUPIED</button>
                {% elif flat.get_owner() == None or flat.rent == 0 %}
                <button disabled class="general pure-button">UNAVAILABLE</button>
                {% else %}
                <a class="general action pure-button pure-button-primary" href="{{ url_for('.agreement', id=flat.id) }}">PAY NOW</a>
                {% endif %}
            </div>
            {% endfor %}

            {% else %}

            <div class="pure-u-1">
                <h1 class="content-subhead">Sorry, there are no flats currently available, check again later.</h1>
                <a class="general pure-button pure-button-primary" href="{{ url_for('.index') }}">GO BACK</a>
            </div>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}