{% extends "shared/base.html" %}

{% block title %}Make Payment{% endblock %}

{% block content %}

<div id="main">
    <h3>Secure Flat & Pay Now</h3>
    <hr>

    <div class="pay-border">
        <div class="pay-box">
            <form method="POST" class="u-full-width">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="row">
                    <div class="six columns">
                        <div class="logo"><img class="u-max-full-width" src="{{ url_for('static', filename='img/logo.png') }}"></div>
                    </div>
                    <div class="six columns">
                        <h6>Resident ID - {{ current_user.username }}</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="six columns">
                        <label for="">Email</label>
                        <input type="text" value="{{ current_user.email }}" disabled>
                    </div>
                    <div class="six columns">
                        <label for="">Flat Category</label>
                        <select class="u-full-width" name="flat_type" id="flat_type">
                            {% for type in flat_types %}
                            <option value="{{ type.name }}">{{ type.name }} - ₦ {{ '{:,}'.format(type.rent) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="twelve columns">
                        <label for="">Card Number</label>
                        <input type="tel" class="u-full-width" required class="u-full-width" placeholder="0000 0000 0000 0000" autocomplete="cc-number">
                    </div>
                </div>

                <div class="row">
                    <div class="four columns">
                        <label for="">Card Expiry</label>
                        <input type="tel" class="u-full-width" required placeholder="MM / YY" autocomplete="cc-exp">
                    </div>
                    <div class="four columns">
                        <label for="">CVV</label>
                        <input type="tel" class="u-full-width" required placeholder="123" autocomplete="cc-csc">
                    </div>
                    <div class="four columns">
                        <label for="lease_duration">Lease Duration</label>
                        <input type="number" name="lease_duration" placeholder="5 (years)" required>
                    </div>
                </div>

                <div class="row">
                    <input type="submit" value="PAY NOW" class="u-full-width button-primary">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}