{% extends "shared/base.html" %}

{% block title %}Lease{% endblock %}

{% block content %}

<div id="main">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <div class="header">
        <h1>Pay Rent</h1>
        <h2>Make a full or partial rent payment now.</h2>
    </div>

    <div class="content">
        <form method="POST" onsubmit="checkRent()" class="pure-form pure-form-aligned">
            {{ form.hidden_tag() }}
    
            <p>Rent amount is {{ '₦ {:,}'.format(rent) }}, you may pay partially or fully. Partial payments must be completed before the next payment is due. Terms & Conditions apply.</p>

            <div class="pure-control-group">
                {% if flat.rent_overdue > 0 %}
                <span class="center error">Overdue - {{ '₦ {:,}'.format(flat.rent_overdue) }}</span>
                {% endif %}
            </div>
            <div class="pure-control-group">
                {{ form.amount.label }}
                {{ form.amount(max='{{ flat.rent }}') }}
            </div>
            <div class="pure-control-group">
                {{ form.password.label }}
                {{ form.password() }}
            </div>
            <div class="pure-controls">
                {{ form.confirm(class='pure-button pure-button-primary submit general') }}
            </div>
            <div class="pure-controls">
                <a class="" href="{{ url_for('.flats_for_rent') }}">Back to Flats</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}