{% extends "shared/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div id="main">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <!-- MAIN CONTENT -->
    <!-- ONLY ALLOW AUTHENTICATED USERS -->
    {% if current_user.is_authenticated %}
    <div class="header">
        <h1>Tenant Profile</h1>
        <h2>Welcome! Manage your leases and edit personal information.</h2>
        <a class="pure-button pure-button-primary mg-bot-20" href="{{ url_for('auth.edit_profile', id=current_user.id) }}">EDIT PROFILE</a>
        <a class="pure-button pure-button-primary mg-bot-20" href="{{ url_for('.flats_for_rent') }}">NEW LEASE</a>
    </div>

    <div class="content wide-content">
        <div class="pure-g">
            {% if flats != [] %}

            {% for flat in flats %}
            <!-- one column for small screen, 2 columns for large and above -->
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 wide-content">
                <h2 class="content-subhead">Block {{ flat.block }}, Flat {{ flat.number }}</h2>
                <p>Lease Start - {{ flat.lease_start }}</p>
                <p>Lease Expiry - {{ flat.lease_expiry }}</p>
                <p>Owner - {{ flat.get_owner().email or None }}</p>
                <p>Rent Amount - {{ '₦ {:,}'.format(flat.rent) }}</p>
    
                <!-- RENT PAYMENT STATUS -->
                <!-- if overdue = 0 and next paymet is not due -->
                {% if flat.rent_overdue == 0 and today < flat.lease_expiry %}
                <p class="success">FULLY PAID</p>
                <!-- if overdue > 0 or next payment is due -->
                {% elif flat.rent_overdue > 0 or today >= flat.lease_expiry %}
                <p class="error">Overdue - {{ '₦ {:,}'.format(flat.rent_overdue) }}</p>
                {% endif %}
    
                <!-- MANAGE RENT -->
                {% if flat.rent_overdue == 0 and today < flat.lease_expiry %}
                <button disabled class="pure-button">PAID</button>
                {% elif flat.rent_overdue > 0 or today >= flat.lease_expiry %}
                <a class="pure-button pure-button-primary" href="{{ url_for('.pay_rent', id=flat.id) }}">PAY NOW</a>
                {% endif %}
                <a href="#" class="pure-button pure-button-primary button-error">TERMINATE</a>
            </div>
            {% endfor %}

            {% else %}

            <div class="pure-u-1">
                <h1 class="content-subhead">Sorry, you currently have no leases. Secure one now.</h1>
                <a class="pure-button pure-button-primary" href="{{ url_for('.flats_for_rent') }}">NEW LEASE</a>
            </div>

            {% endif %}
        </div>
    </div>

    {% endif %}
</div>

{% endblock %}