{% extends "shared/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="container">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <!-- MAIN CONTENT -->
    <!-- ONLY ALLOW AUTHENTICATED USERS -->
    {% if current_user.is_authenticated %}
    <h2>Tenant Profile</h2> <hr>

    <div class="row">
        <div class="two columns">
            <img src="{{ url_for('static', filename='img/profile-image.jpg') }}" class="u-max-full-width">
        </div>
        <div class="four columns">
            <h5>Personal Info</h5>
            <ul>
                <li>
                    {{ current_user.first_name }} {{ current_user.middle_name }} {{ current_user.last_name }}
                </li>
                <li>{{ current_user.username }}</li>
                <li>{{ current_user.gender }}</li>
                <li>{{ current_user.joined_date }}</li>
            </ul>
        </div>
        <div class="six columns">
            <h5>Contact Info</h5>
            <ul>
                <li>{{ current_user.number }}</li>
                <li>{{ current_user.email }}</li>
            </ul>
        </div>
    </div>

    <a class="button button-primary" href="{{ url_for('auth.edit_profile', id=current_user.id) }}">Edit Profile</a>

    <hr>

    <div class="row">
        <div class="twelve columns">
            <h5>Lease Details</h5>
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>Block, Flat</th>
                        <th>Lease Start</th>
                        <th>Lease Expiry</th>
                        <th>Rent Cost</th>
                        <th>Overdue</th>
                        <th>Owner</th>
                    </tr>
                </thead>
                <tbody>
                    {% for flat in current_user.flats.all() %}
                    <tr>
                        <td>{{ flat.block }}, {{ flat.number }}</td>
                        <td>{{ flat.lease_start }}</td>
                        <td>{{ flat.lease_expiry }}</td>
                        <td>
                            {% if flat.for_rent %}
                            {{ '₦ {:,}'.format(flat.rent) }}
                            {% else %}
                            ❌
                            {% endif %}
                        </td>
                        {% if flat.rent_overdue == 0 %}
                        <td class="success">FULLY PAID</td>
                        {% else %}
                        <td class="error">{{ '₦ {:,}'.format(flat.rent_overdue)  }}</td>
                        {% endif %}
                        <td>
                            {{ flat.get_owner().email or None}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a class="button button-primary" href="{{ url_for('.flats_for_rent') }}">SECURE LEASE</a>

    {% endif %}
</div>

{% endblock %}