{% extends "shared/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div id="main">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <!-- MAIN CONTENT -->
    <!-- ONLY ALLOW AUTHENTICATED USERS -->
    {% if current_user.is_authenticated %}
    <div class="header">
        <h1>Tenant Profile</h1>
        <h2>Welcome! Manage your leases and edit personal information.</h2>
        <a class="pure-button pure-button-primary mg-bot-20 general" href="{{ url_for('auth.edit_profile', id=current_user.id) }}">EDIT PROFILE</a>
    </div>

    <div class="content wide-content">
        <div class="pure-g">
            {% if flats != [] %}

            {% for flat in flats %}
            <!-- one column for small screen, 2 columns for large and above -->
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 wide-content flat-listing">
                <h2 class="content-subhead">
                    Block {{ flat.block }} <br> Flat {{ flat.number }}
                </h2>
                Owner - <a class="subject" href="mailto:{{ flat.get_owner().email }}">{{ flat.get_owner().email or None }}</a>
                <p>
                    Lease Start - {{ flat.lease_start }}
                </p>
                <p>
                    Lease Expiry - {{ flat.lease_expiry }}
                </p>
                <p>Rent Amount - {{ '₦ {:,}'.format(flat.rent) }}</p>

                <!-- RENT PAYMENT -->
                <!-- if overdue > 0 or next payment is due -->
                {% if flat.rent_overdue > 0 or today >= flat.lease_expiry %}
                <h4 class="error">Overdue - {{ '₦ {:,}'.format(flat.rent_overdue) }}</h4>
                <a class="pure-button pure-button-primary general" href="{{ url_for('.pay_rent', id=flat.id) }}">PAY NOW</a>
                {% else %}
                <h4 class="success">FULLY PAID</h4>
                {% endif %}

                <a href="{{ url_for('.terminate', id=flat.id) }}" class="pure-button pure-button-primary button-error terminate">TERMINATE</a>
            </div>
            {% endfor %}

            {% else %}

            <div class="pure-u-1">
                <h1 class="content-subhead">Sorry, you currently have no leases. Secure one now.</h1>
                <a class="pure-button pure-button-primary action general" href="{{ url_for('.flats_for_rent') }}">NEW LEASE</a>
            </div>

            {% endif %}
        </div>
    </div>

    {% endif %}
</div>

{% endblock %}